.table-wrapper {
  max-width: 500px;
  border: 1px solid #0934c2;
  background-color: #efefef33;
  padding: 15px;
  overflow: auto;
  margin: auto;
  border-radius: 4px;
}

table {
  width: 100%;
  font-size: 13px;
  color: #444;
  white-space: nowrap;
  border-collapse: collapse;
}

table > thead {
  background-color: #0a2f96;
  color: #fff;
}

table > thead th {
  padding: 15px;
}

table th,
table td {
  border: 1px solid #00000017;
  padding: 10px 15px;
}

/* From cssbuttons.io */
.delete-btn {
  background-color: rgb(255, 6, 6);
  border: none;
  padding: 1rem;
  font-size: 12px;
  width: 10pm;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.delete-btn:active {
  color: white;
  box-shadow: 0 0.2rem #dfd9d9;
  transform: translateY(0.2rem);
}

.delete-btn:hover:not(:disabled) {
  background: rgb(177, 32, 32);
  color: white;
}

.form-control {
  margin-left: 30%;
}
.nameBox {
  text-align: left;
  border: 1px solid #0934c2;
  display: block;
  width: 50%;
  height: 40px;
  padding: 0 20px;
  border-radius: 20px;
  font-family: "Muli-Bold";
  background: none;
}

/* From cssbuttons.io by @adamgiebl */
.btn-submit {
  color: #fdfbfb;
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 20px;
  background: #0a7be4;
  border: 1px solid #fffefe;
  margin-top: 10px;
  margin-right: 40%;
  margin-bottom: 10%;
}

.btn-submit:hover:not(:disabled) {
  background: #2901b8;
  color: white;
}

.header{
  margin-bottom: 5%;
  margin-top: 2%;
}

.errorMsg{
  margin-right: 50%;
}

